[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/auto-fu"]
	path = .zsh/auto-fu
	url = git@github.com:hchbaw/auto-fu.zsh.git
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".zsh/zaw"]
	path = .zsh/zaw
	url = git@github.com:zsh-users/zaw.git
[submodule "pure"]
	path = pure
	url = git@github.com:sindresorhus/pure.git
[submodule ".zsh/zsh-notify"]
	path = .zsh/zsh-notify
	url = git@github.com:marzocchi/zsh-notify.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = git@github.com:tarruda/zsh-autosuggestions
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search
