[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/auto-fu"]
	path = .zsh/auto-fu
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
