.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

tmp
tags
*.tags
memo.md

# for Haskell
.cabal-sandbox
cabal.sandbox.config
.hsenv

# for Ruby
.bundle
spec/examples.txt

# for Python
*.pyc

.idea

examples.txt
.python-version
.ruby-version
.env
.env*
*.pem

.vscode
/__debug_bin*
