[include]
    path = ~/.gitconfig.local
[color]
    status = auto
    diff = auto
    branche = auto
    ui = auto
    interactive = auto
    grep = auto
[alias]
    st = status --short
    co = checkout
    f = fetch -p
    b = branch
    com = commit -v
    acommit = commit -av
    amend = commit -a --amend --no-edit
    d = diff
    di = diff
    dif = diff
    diffadded = diff --cached
    graph = log --oneline --decorate --graph --all
    lgraph = log --oneline --decorate --graph
    dgraph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
    logall = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
    logdiff = log -p
    logstat = log --stat
    logpretty = log --pretty=\"format:%ad %h (%an): %s\" --date=short
    logfull = log --pretty=fuller
    oneline = log --pretty=oneline
    branchdiff = "!f() { git cherry -v "$@" | awk '{ if($1 == \"+\"){ color = \"green\" } if($1 == \"-\"){ color = \"red\" } cmd = \"git show --date=short --no-notes --pretty=format:\\047%C\" color $1 \" %h %Cgreen%cd %Cblue%cn%x09%Creset%s\\047 --summary \" $2; cmd | getline t; close(cmd); print t }' ;}; f"
    diffnospace = diff --ignore-space-change
    diffword = diff --word-diff
    logworddiff = log -p --word-diff
[core]
    pager = lv -c
    excludesfile = ~/.gitignore
    autocrlf = input
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
[diff]
    algorithm = histogram
[branch]
    autosetupmerge = true
    autosetuprebase = always
[push]
    default = tracking
[pull]
    rebase = true
[pager]
    log = diff-highlight | less -R -+X -+F
    show = diff-highlight | less -R -+F
    diff = diff-highlight | less -R -+F
#[url "git@github.com"]
#    insteadOf = https://github.com/
[ghq]
    root = ~/.ghq
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
	note = auto-generated configuration by `cpad manifest ios`
